/* Color styling of website */

body {
    background-color: #050a18;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Margins*/
.wrapper {
    width: 1100px;
    margin: 0 auto; 
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: #081021;
    position: relative
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #007bff;
    transition: 0.3s;
} 

.logo {
    position: absolute;
    left: 50px;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 30px; 
} 

.intro {
    display: flex;
    padding: 80px 0;
    align-items: center;
}

.intro-content { 
    flex: 1;
 }

.intro-image { 
    flex: 1; text-align: right; 
}

/* HI! IM REIN */
.greeting {
    font-size: 2.5rem; 
    letter-spacing: 2px;
}

/* DEVELOPER */
.intro-content h1 {
    font-size: 5rem; 
    margin: 15px 0;
}

/* autobio */
.intro-content p {
    font-size: 1.25rem; 
    max-width: 600px; 
}

.main-img {
    width: 400px;
    border-radius: 20px;
    border: 4px solid #007bff;
}

.blue-text { color: #007bff; }

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    border-bottom: 2px solid #007bff;
    display: inline-block;
}

/* Skills & Projects */
.skills-container, .project-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill-box, .card {
    background: #0b1426;
    padding: 30px;
    border-radius: 15px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card h3 {
    margin: 15px 0 10px 0;
    font-size: 1.5rem;
}


.project-icon {
    width: 100%; 
    max-width: 250px;
    height: 180;
    margin-bottom: 15px; 
    display: block; 
    border-radius:10px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

/* Programming and Management */
.skill-box h3 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #ffffff;
}

.skill-box ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px 30px; 
    list-style-type: disc;
    padding-left: 20px; 
}


.skill-box ul li {
    font-size: 1.3rem;
    color: #a0a0a0;
}

.primary-btn, .contact-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 40px;
    color: #555;
}